
html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Pixelify Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('assets/background-img.png');
    background-size: cover;
}

.wrapper-main {
    text-align: center;
    transform: translateY(-10%);
    
    
}

.button-group {
    display: block;
    gap: 5rem;
    justify-content: center;
    margin: 20px;

}

.custom-btn1 {
    background-color: #f5b4c4 ; 
    border: 3px solid #eb708f ;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 20px;
}
    

.custom-btn2 {
    background-color: #f5b4c4 ; 
    border: 3px solid #eb708f ;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 1.5rem;

}

@media (max-width: 600px) {
}